<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1035141844173-eb2k9n24msvcm22odeh5f94gmrflnouf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1035141844173-eb2k9n24msvcm22odeh5f94gmrflnouf</string>
	<key>API_KEY</key>
	<string>AIzaSyALsiBiP-yA7aFcxuG3QM8-EUdqqZ8z46c</string>
	<key>GCM_SENDER_ID</key>
	<string>1035141844173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-backend-b0c7c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-backend-b0c7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035141844173:ios:884411ac4fbff2c8bb6d84</string>
</dict>
</plist>